<?xml version="1.0" encoding="UTF-8"?>
<configuration>

	<!-- Setting up log path and log file name -->
	<property name="LOG_PATH" value="./logs" />
	<property name="LOG_FILE_NAME" value="application_logback" />

	<!-- Setting up logging pattern for console logging -->
	<appender name="ConsoleOutput"
		class="ch.qos.logback.core.ConsoleAppender">
		<layout class="ch.qos.logback.classic.PatternLayout">
			<Pattern>
				%white(%d{ISO8601}) %highlight(%-5level) [%yellow(%t)] : %msg%n%throwable
			</Pattern>
		</layout>
	</appender>

	<!-- Setting the filename and logging pattern for log file -->
	<appender name="LogFile"
		class="ch.qos.logback.core.rolling.RollingFileAppender">
		<file>${LOG_PATH}/${LOG_FILE_NAME}.log</file>
		<encoder
			class="ch.qos.logback.classic.encoder.PatternLayoutEncoder">
			<Pattern>%d{yyyy-MM-dd HH:mm:ss} [%thread] %-5level : %msg%n
			</Pattern>
		</encoder>
		
		<!-- Setting up a rolling policy with rolling done
			daily and when file size is 10MB-->
		<rollingPolicy
			class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
			<fileNamePattern>${LOG_PATH}/archived/${LOG_FILE_NAME}-%d{yyyy-MM-dd}.%i.log
			</fileNamePattern>
			<timeBasedFileNamingAndTriggeringPolicy
				class="ch.qos.logback.core.rolling.SizeAndTimeBasedFNATP">
				<maxFileSize>10MB</maxFileSize>
			</timeBasedFileNamingAndTriggeringPolicy>
		</rollingPolicy>
	</appender>

	<!-- Logging at INFO level -->
	<root level="info">
		<appender-ref ref="LogFile" />
		<appender-ref ref="ConsoleOutput" />
	</root>
	
	<!-- Logging at TRACE level -->
	<logger name="com.log" level="trace" additivity="false">
		<appender-ref ref="LogFile" />
		<appender-ref ref="ConsoleOutput" />
	</logger>
	
</configuration>
